<!doctype html>
<!--declare  this is a thymeleaf template-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <title>Coral Community - Activation Account</title>
</head>
<body>
	<div>
		<p>
			<!--<b>xxx@xxx.com</b>, Hello!-->
			<b th:text="${email}"> xxx@xxx.com</b>, Hello!
		</p>
		<p>
			You are registering CoralCommunity, this is an activation email, please click
			<a th:href="${url}">this link</a>,
			to activate your CoralCommunity account!
		</p>
	</div>
</body>
</html>