<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coral.community.dao.DiscussPostMapper">
    <sql id="selectFields">
        id,user_id,title,content,type,status, create_time,comment_count,score
    </sql>



    <!--  Paging Function -->
    <!--  List<DiscussPost> selectDiscussPosts(int userId, int offset, int limit); -->
    <!--  DiscussPost is the user defined type, so we need to declare it-->
    <select id="selectDiscussPosts" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where status !=2               -- without display the blocked posts
        <if test="userId!=0">          -- Dynamic SQL: concat the userId : select...from..where..and user_id...order by type desc, create_time desc
            and user_id = #{userId}    -- userId=0 : select...from...where status !=2 order by type desc, create_time desc
        </if>
        order by type desc, create_time desc
        limit #{offset}, #{limit}
    </select>

    <!--  Count the row number of posts-->
    <!--  int selectDiscussionPostRows(@Param("userId") int userId);  -->
    <select id="selectDiscussionPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status !=2               -- without display the blocked posts
        <if test="userId!=0">          -- concat the userId
            and user_id = #{userId}
        </if>

    </select>

<!--    add Post with ajax and Jquery-->

    <sql id="insertFields">
        user_id,title,content,type,status, create_time,comment_count,score
    </sql>

    <insert id="insertDiscussPost" parameterType="DiscussPost" keyProperty="id">
        insert into discuss_post(<include refid="insertFields"></include>)
        values(#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score})
    </insert>

    <select id="selectDiscussPostById" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where id = #{id}
    </select>
<!--    then go to service -->


    <!--    update comment count-->

    <update id="updateCommentCount">
        update discuss_post set comment_count=#{commentCount} where id=#{id}
    </update>
</mapper>